* {
    font-family: Roboto, sans-serif;
}

ul {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    font-size: 18px;
    color: #e5e7eb;
    gap: 15px
}

button {
    color: #f9faf8;
    background-color: #3882f6;
    border-color: #f9faf8;
    border-style: solid;
    font-size: 18px ;
    border-radius: 8px;
    padding: 10px;
    font-weight: 700;
}

.header {
    background-color: #1f2937;
    padding: 15px 150px ;
}

.header button {
    border: none;
}

.header-top {
    display: flex;
    justify-content: space-between;
}

.header-bottom {
    display: flex;
    padding: 100px 0px;
}

.header-left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: baseline;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.big-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0;
    line-height: 1em;
}

.small-text {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
}

.spaceship {
     width: 550px;
}

.information {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.body2 {
    background-color: #e5e7eb;
}

.body3 {
    display: flex;
    padding: 50px;
    justify-content: space-evenly;
    align-items: center;
    color: #f9faf8;
    background-color: #3882f6;
    margin: 80px 200px;
    border-radius: 8px;
}

.body3-left {
    display: flex;
    flex-direction: column;   
}

.call-to-action, .description {
    margin: 0;
}

.quote{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
     
}

.footer {
    padding: 30px;
    color: #f9faf8;
    background-color: #1f2937;
    text-align: center;
}